<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>
    <title>Document</title>
</head>
<body>
<div id="app">
      <div>  {{  msg  }}</div>
            <div v-if="flag">用来显示的内容</div>
            <div v-else>else</div>
            <div v-show="!flag">用来显示show的内容</div>
    <ul>
        <li v-for="(item,index) in items">{{  index  }}.{{  item  }}</li>
    </ul>
</div>
</body>
</html>
<script type="text/javascript">
var vm=new Vue({
    el:"#app" , //id选择器
    data:{
        msg:"helloworld",
        flag:false,
        items:['数据一','数据二','数据三','数据四','数据五','数据六']
    }

});
</script>